openapi: 3.0.2
info:
  title: Isagog Knowledge Graph Knowledge Service
  version: 1.0.0
  description: Isagog Knowledge Graph Knowledge module
  contact:
    name: Isagog Srl
    email: ks-api@isagog.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://api.isagog.com
    variables:
      port:
        default: '8030'
      basePath:
        default: /knowledge
tags:
  - name: KnowledgeService
    description: Ontology and reasoning functionalities (read-only)

paths:
  /concepts:
    summary: Represents the concepts of the Knowledge Graph T-BOX
    description: >
      This resource represents an individual concept in the Knowledge Graph T-BOX.
    get:
      summary: Get all the concepts in the Knowledge Graph
      description: Get all the concepts in the Knowledge Graph
      operationId: getAllConcepts
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Concept'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
      - KnowledgeService

  /relations:
    get:
      summary: Gets all the relations in the Knowledge Graph
      description: Gets a relation
      operationId: getAllRelations
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Relation'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService
        
  /attributes:
    get:
      summary: Gets all attributes in the Knowledge Graph
      description: Gets an attirbute
      operationId: getAllAttributes
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attribute'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService    
        
  /frames:
    get:
      summary: Gets all the frames in the Knowledge Graph
      description: Gets a frame
      operationId: getAllFrames
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Frame'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService
        
  /concepts/{id}:
    summary: Represents a concept
    description: >
      This resource represents an individual concept in the Knowledge Graph T-BOX. Each concept is identified by a unique string `id`.
    get:
      summary: Gets a concept
      description: Gets a concept
      operationId: getConcept
      parameters:
        - name: id
          in: path
          description: The concept's id
          required: true
          schema:
            type: string
            format: id
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Concept'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService
        
  /relations/{id}:
    get:
      summary: Gets a relation
      description: Gets a relation
      operationId: getRelation
      parameters:
        - name: id
          in: path
          required: true
          description: The relation's id
          schema:
            type: string
            format: id
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Relation'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService
        
  /attributes/{id}:
      get:
        summary: Gets an attribute
        description: Gets an attirbute
        operationId: getAttribute
        parameters:
          - name: id
            in: path
            required: true
            description: The attribute's id
            schema:
              type: string
              format: id
        responses:
          200:
            description: Successful operation
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Attribute'
          401:
            description: No results
          402:
            description: Invalid query
          403:
            description: Invalid attribute
          501:
            description: Service unavailable
          502:
            description: Server error
          503:
            description: Missing implementation
        tags:
          - KnowledgeService
          

    
  /frames/{id}:
    get:
      summary: Gets a frame
      description: Gets a frame
      operationId: getFrame
      parameters:
        - name: id
          in: path
          required: true
          description: The frame's id
          schema:
            type: string
            format: id
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Frame'
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService
        
  /frames/extract:
    post:
      summary: Frame extraction from sentences
      description: Extract frames from an annotated sentence
      parameters:
        - name: limit
          in: query
          required: false
          description: Limits the number of returned frame candidates to the supplied value
          schema:
            type: integer
            minimum: 1
            maximum: 100
      operationId: extractFrames
      responses:
        200:
          description: Frame span
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FrameInstance'
        402:
          description: Insufficient data mapping
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-language.yaml#/components/schemas/SentenceAnnotation
      tags:
        - KnowledgeService

  /search:
   get:
    summary: Knowledge search
    description: Search knowledge items
    operationId: search
    parameters:
      - name: query
        in: query
        description: The query to search by
        required: true
        schema:
          type: string
      - name: etype
        in: query
        description: Narrow search to a specific element type
        required: false
        schema:
          type: string
          enum:
            - CONCEPT
            - PROPERTY
            - ATTRIBUTE
            - ENTITY
            - FRAME
            - ANY
          default: ANY
      - name: details
        in: query
        description: 'Details to be returned: e.g. for predicates: FULL=full hierarchy, SUMMARY=direct super\subordinates, IDENTIFIER=id only'
        required: false
        schema:
          type: string
          enum:
            - FULL
            - SUMMARY
            - IDENTIFIER
          default: IDENTIFIER
      - name: attribute
        in: query
        description: Attribute to search by, either an annotation or a data property
        required: false
        schema:
          type: string
          default: "rdfs:label"
    responses:
      200:
        description: Successful operation
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ElementRanking'
      401:
        description: No results
      402:
        description: Invalid query
      403:
        description: Invalid attribute
      501:
        description: Service unavailable
      502:
        description: Server error
      503:
        description: Missing implementation
    tags:
      - KnowledgeService


  /evaluate:
    post:
      summary: Entity evaluation
      description: Evaluates an entity as an instance of known concepts.
        Deductive evaluation should return asserted and implied entity classes.
        Abductive evaluation should return a ranking of the most plausible entity classes.
      parameters:
        - name: method
          in: query
          required: false
          schema:
            type: string
            enum:
              - DEDUCTION
              - ABDUCTION
            default: DEDUCTION
          description: Inference method to be used
          allowEmptyValue: true
      operationId: evaluateEntity
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElementRanking'
        401:
          description: Not found
        402:
          description: Unknown graph
        403:
          description: Invalid arguments
        405:
          description: Unsupported method
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
        description: Entity specification
        required: true
      tags:
        - KnowledgeService

components:
  schemas:
    KnowledgeGraph:
      description: Set of statements about conceptualized entities
      required:
        - id
      type: object
      properties:
        id:
          description: Knowledge Graph id
          type: string
          format: id
        sources:
          description: KG sources
          type: array
          items:
            type: string
            format: uri
        description:
          description: KG description
          type: string
        size:
          description: Statement number
          type: integer
          format: int32
        ontologies:
          description: Ontologies where concepts and relations are defined (URIs)
          type: array
          items:
            type: string
            format: uri
        context:
          description: Other graphs providing contextual knowledge
          type: array
          items:
            type: string
            format: id
        content:
          description: KG content (statements)
          type: array
          items:
            $ref: '#/components/schemas/EntityStatement'
        annotations:
          description: KG annotation (application specific)
          type: array
          items:
            type: string

    ElementRanking:
      description: Ranking record
      type: object
      required:
        - element
      properties:
        element:
           $ref: '#/components/schemas/KnowledgeElement'
        support:
          type: number
          format: double
          minimum: 0.0
          maximum: 1.0

    KnowledgeElement:
      description: Managed knowledge element (should be abstract)
      type: object
      required:
        - ktype
      properties:
        ktype:
          description: Knowledge element type
          type: string
        meta:
          description: Meta-categories
          type: array
          items:
            type: string
        linguisticNotes:
          description: Linguistic annotations
          type: array
          items:
            $ref: '#/components/schemas/LinguisticAnnotation'
      discriminator:
        propertyName: ktype
        mapping:
          Concept:             '#/components/schemas/Concept'
          RelationalConcept:   '#/components/schemas/RelationalConcept'
          AttributiveConcept:  '#/components/schemas/AttributiveConcept'
          Relation:            '#/components/schemas/Relation'
          Attribute:           '#/components/schemas/Attribute'
          Entity:              '#/components/schemas/Entity'
          PredicateStatement:  '#/components/schemas/PredicateStatement'
          EntityStatement:     '#/components/schemas/EntityStatement'
          Frame:               '#/components/schemas/Frame'
          FrameInstance:       '#/components/schemas/FrameInstance'
          ConceptualSlot:      '#/components/schemas/ConceptualSlot'
          RelationalSlot:      '#/components/schemas/RelationalSlot'
          AttributiveSlot:     '#/components/schemas/AttributiveSlot'
          SlotInstance:        '#/components/schemas/SlotInstance'



    LinguisticAnnotation:
      description: Linguistic attachment to knowledge elements
      required:
        - pos
      properties:
        pos:
          description: Part of speech
          type: string
          enum:
            - ADJ #adjective
            - ADV #adverb
            - NOUN #noun
            - NUM #numeral
            - VERB #verb
            - PHRASE

        form:
          description: Basic realization form
          type: string
        regex:
          description: Regular expression to match occurrences (opt)
          type: string

    Concept:
      description: Unary atomic classifier
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      type: object
      required:
        - id
        - ctype
      properties:
        id:
          type: string
          format: id
        statements:
          type: array
          items:
            $ref: '#/components/schemas/PredicateStatement'


    RelationalConcept:
      description: Unary relational classifier
      allOf:
        - $ref: '#/components/schemas/Concept'
      type: object
      required:
        - relation
        - quantifier
      properties:
        relation:
          $ref: '#/components/schemas/Relation'
        restriction:
          $ref: '#/components/schemas/Concept'
        quantifier:
          type: string
          enum:
            - SOME
            - ALL
            - ATLEAST1
            - ATMOST1

    AttributiveConcept:
      description: Unary attributive classifier
      allOf:
        - $ref: '#/components/schemas/Concept'
      type: object
      required:
        - attribute
      properties:
        attribute:
          $ref: '#/components/schemas/Attribute'
        value:
          type: string
          format: byte
        constraint:
          type: string
          enum:
            - SOME
            - ALL
            - EQUALS
            - GREATER_THAN
            - SMALLER_THAN
          default: SOME


    Relation:
      description: Class of entity pairs
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      required:
        - id
      properties:
        id:
          type: string
          format: id
        domain:
          $ref: '#/components/schemas/Concept'
        range:
          $ref: '#/components/schemas/Concept'


    Attribute:
      description: Class of Entity-value pairs
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      required:
        - id
      properties:
        id:
          type: string
          format: id
        domain:
          $ref: '#/components/schemas/Concept'
        range:
          type: string
          enum:
            - STRING
            - TEXT
            - INTEGER
            - DOUBLE
            - REFERENCE
            - TIME
            - MONEY
            - PLACE
          default: STRING


    Entity:
      description: Individual entity
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: id
        statements:
          type: array
          items:
            $ref: '#/components/schemas/EntityStatement'

    Statement:
      description: Knowledge statement
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      type: object
      required:
        - subject
        - stype
      properties:
        stype:
          type: string
        subject:
          type: string
          format: id
        privacy:
          type: string
          enum:
            - OWNER
            - TRUSTED
            - CONTACTS
            - PUBLIC
          default: OWNER
        support:
          type: number
          format: double
          minimum: 0.0
          maximum: 1.0
      discriminator:
        propertyName: stype
        mapping:
          EntityStatement:    '#/components/schemas/EntityStatement'
          PredicateStatement: '#/components/schemas/PredicateStatement'

    PredicateStatement:
      description: Statement whose subject is a predicate (conceptual assertion)
      allOf:
        - $ref: '#/components/schemas/Statement'
      type: object
      required:
        - object
        - predicate
      properties:
        object:
          type: string
          format: id
        predicate:
          type: string
          enum:
            - INCLUSION
            - DISJUNCTION
            - EQUIVALENCE


    EntityStatement:
      description: Statement whose subject is an individual (individual assertion)
      allOf:
        - $ref: '#/components/schemas/Statement'
      type: object
      required:
        - predicate
        - object
      properties:
        predicate:
          description: Ontology relation or attribute
          type: string
          format: id
        relational:
          type: boolean
          default: false
        object:
          description: Statement's object, i.e. an id or a value
          type: string
          format: utf8

    Frame:
      description: Conceptual pattern, e.g. a query or a form
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      type: object
      required:
        - id
        - slots
      properties:
        id:
          description: Frame identifier
          type: string
          format: id
        slots:
          description: Conceptual elements, up to 128
          type: array
          items:
            $ref: '#/components/schemas/Slot'




    Slot:
      description: Framed conceptual element
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      type: object
      required:
        - id
      properties:
        id:
          description: Slot identifier, must be frame-unique
          type: integer
          format: int32
          minimum: 0
          maximum: 128
        stype:
          type: string
        predicate:
          description: Predicate identifier, should be a valid uri in a managed ontology
          type: string
          format: id
      discriminator:
        propertyName: ktype
        mapping:
          ConceptualSlot:  '#/components/schemas/ConceptualSlot'
          RelationalSlot:  '#/components/schemas/RelationalSlot'
          AttributiveSlot: '#/components/schemas/AttributiveSlot'

    FrameInstance:
      description: Frame instance
      type: object
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      required:
        - frameType
      properties:
        id:
          description: Instance handle, should be univoque in the session
          type: integer
          format: int64
        frameType:
          description: Frame type identifier, should be system-wide unique
          type: string
          format: id
        slots:
          description: Slot values
          type: array
          items:
            $ref: '#/components/schemas/SlotInstance'
        support:
          type: number
          format: double
          minimum: 0.0
          maximum: 1.0
        provenance:
          description: The values provenance (opt)
          type: string
          enum:
            - USER_INPUT
            - KNOWLEGDE_BASE
            - DOCUMENT
            - UNDEFINED
          default: UNDEFINED


    ConceptualSlot:
      allOf:
        - $ref: '#/components/schemas/Slot'
      properties:
       informative:
         description: Values should be returned to caller
         type: boolean
         default: false
       mandatory:
         description: Values should be instantiated
         type: boolean
         default: false

    RelationalSlot:
      allOf:
        - $ref: '#/components/schemas/Slot'
      type: object
      properties:
        subjectBinding:
          description: Slot's subject binding, must be a ConceptualSlot in the same frame.
          type: integer
          minimum: 0
          maximum: 128
        objectBinding:
          description: Slot's object binding, must be a ConceptualSlot in the same frame.
          type: integer
          minimum: 0
          maximum: 128
      required:
        - subjectBinding


    AttributiveSlot:
      allOf:
        - $ref: '#/components/schemas/Slot'
      type: object
      description: A slot bound to an Attribute (data property)
      properties:
        subjectBinding:
          description: Slot's subject binding, must be a ConceptualSlot slot in the same frame.
          type: integer
          minimum: 0
          maximum: 128
      required:
        - subjectBinding


    SlotInstance:
      description: Slot value instance (should be abstract)
      type: object
      allOf:
        - $ref: '#/components/schemas/KnowledgeElement'
      required:
        - itype
        - slot
        - value
      properties:
        itype:
          type: string
          enum:
            - ENTITYVARIABLE
            - ENTITY
            - VALUEVARIABLE
            - VALUE
        slot:
          $ref: '#/components/schemas/SlotReference'
        value:
          type: string
          format: utf8
        comparation:
          description: Comparation
          type: string
          enum:
            - EQUAL
            - GREATER
            - SMALLER
            - SIMILAR
          default: EQUAL


    SlotReference:
      description: Reference to a frame slot
      type: object
      required:
        - frameid
        - slotid
      properties:
        frameid:
          type: string
          format: id
        slotid:
          type: integer
          minimum: 0
          maximum: 128

