openapi: 3.0.2
info:
  title: Isagog Knowledge Graph Service
  version: 1.0.0
  description: Isagog Knowledge Graph endpoint
  contact:
    name: Isagog Srl
    email: ks-api@isagog.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://localhost
    variables:
      port:
        default: '3200'
      basePath:
        default: /

tags:

  - name: KnowledgeService
    description: Ontology (read-only) and inference functionalities
  - name: LinguisticService
    description: NLP analitic functionalities
  - name: InteractionService
    description: Interaction functionalities
  - name: DataService
    description: Data graph functionalities

paths:

  # --------------------
  #  Interaction
  # --------------------

  /interact/input:
    post:
      summary: User input
      description: Processes the user input
      parameters:
            - name: kg
              in: query
              required: false
              schema:
                type: string
              description: Upload context (KG id)
      operationId: input
      responses:
        200:
          description: Acknowledge message
          content:
            text/plain:
              schema:
                type: string
        201:
          description: Query response
          content:
            application/json:
              schema:
                  $ref: kg-data.yaml#/components/schemas/QueryResponse
        202:
          description: Frame instantiation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: kg-knowledge.yaml#/components/schemas/FrameInstance
        203:
          description: Sentence analysis
          content:
            application/json:
              schema:
                  $ref: kg-language.yaml#/components/schemas/SentenceAnnotation

        401:
          description: Unknown graph
        402:
          description: Illegal input format
        403:
          description: Meaningless input
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-language.yaml#/components/schemas/Sentence
        description: User input
        required: true
      tags:
        - InteractionService

  /interact/issue:
     post:
        summary: Sends a frame instance for processing
        description: Sends a frame, e.g. a user query form, to the systems
        parameters:
          - name: kg
            in: query
            required: false
            schema:
              type: string
            description: Upload context (KG id)
        operationId: issue
        responses:
          200:
            description: Generic success messages
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: string
          201:
            description: Query response
            content:
              application/json:
                schema:
                    $ref: kg-data.yaml#/components/schemas/QueryResponse
          202:
            description: Update response
            content:
              application/json:
                schema:
                    $ref: kg-data.yaml#/components/schemas/UpdateResponse
          401:
            description: Unknown graph
          402:
            description: Malformed frame
          501:
            description: Service unavailable
          502:
            description: Server error
          503:
            description: Missing implementation
        requestBody:
          content:
            application/json:
              schema:
                $ref: kg-knowledge.yaml#/components/schemas/FrameInstance
          description: Frame instance
          required: true
        tags:
          - InteractionService

  /interact/complete:
    get:
      summary: Suggets completions
      description: Provides a list of candidate completions of the provided one
      parameters:
        - name: hook
          in: query
          required: true
          schema:
            type: string
            format: UTF-8
      operationId: complete
      responses:
        200:
          description: Suitable completions
          content:
            application/json:
                schema:
                  type: array
                  items:
                    type: string
                    format: UTF-8
        402:
            description: Illegal hook
        501:
            description: Service unavailable
        502:
            description: Server error
        503:
            description: Missing implementation
      tags:
          - InteractionService





  # --------------------
  #  Knowledge
  # --------------------

  /knowledge/search:
    get:
      summary: Knowledge search
      description: Search knowledge items
      operationId: search
      parameters:
        - name: query
          in: query
          description: The query to search by
          required: true
          explode: false
          schema:
            type: string
        - name: etype
          in: query
          description: Narrow search to a specific element type
          required: false
          schema:
            type: string
            enum:
              - CONCEPT
              - PROPERTY
              - ATTRIBUTE
              - ENTITY
              - FRAME
              - ANY
            default: ANY
        - name: details
          in: query
          description: 'Details to be returned: e.g. for predicates: FULL=full hierarchy, SUMMARY=direct super\subordinates, IDENTIFIER=id only'
          required: false
          schema:
            type: string
            enum:
              - FULL
              - SUMMARY
              - IDENTIFIER
            default: IDENTIFIER
        - name: attribute
          in: query
          description: Attribute to search by (e.g. rdfs:label)
          required: false
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: kg-knowledge.yaml#/components/schemas/ElementRanking
        401:
          description: No results
        402:
          description: Invalid query
        403:
          description: Invalid attribute
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      tags:
        - KnowledgeService


  /knowledge/evaluate:
    post:
      summary: Entity evaluation
      description: Evaluates an entity as an instance of known concepts.
        Deductive evaluation should return asserted and implied entity classes.
        Abductive evaluation should return a ranking of the most plausible entity classes.
      parameters:
        - name: method
          in: query
          required: false
          schema:
            type: string
            enum:
              - DEDUCTION
              - ABDUCTION
            default: DEDUCTION
          description: Inference method to be used
          allowEmptyValue: true
      operationId: evaluateEntity
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: kg-knowledge.yaml#/components/schemas/ElementRanking
        401:
          description: Not found
        402:
          description: Unknown graph
        403:
          description: Invalid arguments
        405:
          description: Unsupported method
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-knowledge.yaml#/components/schemas/Entity
        description: Entity specification
        required: true
      tags:
        - KnowledgeService

  /knowledge/create:
    post:
      summary: Element creation
      description: Creates a new KnowledgeElement
      operationId: createElement
      responses:
        200:
          description: Success
        403:
          description: Invalid element
        405:
          description: Unsupported element
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      parameters:
        - name: overwrite
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-knowledge.yaml#/components/schemas/KnowledgeElement
        description: Element specification
        required: true
      tags:
        - KnowledgeService

  /knowledge/delete:
    get:
      summary: Element deletion
      description: Deletes a KnowledgeElement
      operationId: deleteElement
      responses:
        200:
          description: Success
        401:
          description: Element not found
        402:
          description: Not authorized
        403:
          description: Invalid element
        405:
          description: Protected element
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id
      tags:
        - KnowledgeService

  /knowledge/get:
    get:
      summary: Element access
      description: Returns a KnowledgeElement
      operationId: getElement
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: kg-knowledge.yaml#/components/schemas/KnowledgeElement
        401:
          description: Element not found
        402:
          description: Not authorized
        403:
          description: Invalid element
        405:
          description: Protected element
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id
        - name: details
          in: query
          schema:
            type: string
            enum:
              - FULL
              - SUMMARY
              - NONE
            default: NONE
      tags:
        - KnowledgeService



  /knowledge/frame:
    post:
      summary: Frame extraction from annotated text
      description: Extract frames from an annotated text or csv data
      parameters:
        - name: task
          in: query
          required: false
          description: Kind of analysis (RANKING = single frame ranking, SPAN = non overlapping frame spans)
          schema:
            type: string
            enum:
              - RANKING
              - SPAN
            default: SPAN
        - name: limit
          in: query
          required: false
          description: Limits the number of returned frame candidates to the supplied value
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      operationId: getFrames
      responses:
        200:
          description: Frame ranking
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: kg-knowledge.yaml#/components/schemas/ElementRanking
        201:
          description: Frame span
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: kg-knowledge.yaml#/components/schemas/FrameInstance
        402:
          description: Insufficient data mapping
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-language.yaml#/components/schemas/SentenceAnnotation
      tags:
        - KnowledgeService

# --------------------
#  Language
# --------------------

  /language/analyze:
    post:
      summary: Sentence analysis
      description: Provides an annotation of the supplied text object according to available knowledge, including entity recognition, linking and relations (opt)
      parameters:
        - name: task
          in: query
          required: false
          schema:
            type: string
            enum:
              - TOKENIZATION
              - ENTITY_ANALISYS
              - RELATION_ANALYSIS
      operationId: analyzeSentence
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: kg-language.yaml#/components/schemas/SentenceAnnotation

        401:
          description: Unknown graph
        402:
          description: Invalid sentence
        403:
          description: Unsupported task
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-language.yaml#/components/schemas/Sentence
      tags:
        - LinguisticService

  # --------------------
  #  Data
  # --------------------

  /data/query:
    post:
      summary: Knowledge query
      description: Queries a Knowledge Graph
      parameters:
        - name: kg
          in: query
          required: false
          schema:
            type: string
            format: id
          description: Query context (opt)
      operationId: query
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: kg-data.yaml#/components/schemas/QueryResponse
        401:
          description: Unsupported language
        402:
          description: Invalid query
        501:
          description: Service unavailable
        502:
          description: Server error
        503:
          description: Missing implementation
      requestBody:
        content:
          application/json:
            schema:
              $ref: kg-data.yaml#/components/schemas/Query

        description: The query
        required: true
      tags:
        - DataService

#  /data/retrieve:
#    post:
#      summary: String retrieval
#      description: Issues a string query over the data layer
#      parameters:
#       - name: kg
#         in: query
#         required: false
#         schema:
#            type: string
#            format: id
#            description: Query context (opt)
#      operationId: retrieve
#      responses:
#        200:
#          description: Flat results
#          content:
#            application/json:
#              schema:
#                type: array
#                items:
#                  type: string
#                  format: UTF-8
#        501:
#          description: Service unavailable
#        502:
#          description: Server error
#        503:
#          description: Missing implementation
#      requestBody:
#          content:
#            application/json:
#
#      tags:
#        - DataService

  /data/upload:
      post:
        summary: Bulk upload
        description: Uploads a resource
        parameters:
          - name: kg
            in: query
            required: true
            schema:
              type: string
        operationId: upload
        responses:
          200:
            description: Success
          401:
            description: Unknown graph
          402:
            description: Malformed document
          403:
            description: Unsupported format
          501:
            description: Service unavailable
          502:
            description: Server error
          503:
            description: Missing implementation
        requestBody:
          content:
            application/json:
              schema:
                $ref: kg-data.yaml#/components/schemas/Upload

        tags:
          - DataService

